.loginBG{
    width: 100vw;
    height: 105vh;
    background: url(../../../images/loginBGImage.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.363);
    background-blend-mode: multiply;
    background-attachment: fixed;
    margin-left: -22vw;
    margin-top: -27px;
    position: absolute;
}

.login-panel{
    background-color: var(--prim-color);
    width: 30vw;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 25vh auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.login-panel h1 {
    width: 100%;
}

.login-panel input{
    width: 70%;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin: 10px;
    padding-left: 7px;
}

